* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 500;
}
/* Mayk aplicou a fonte em body * */

body {
  background: url(./assets/assets/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
  height: 712px;
  width: 360px;
  border: 1px solid red;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  display: block;
  margin: auto;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background 0.2s;
}

ul li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1.5px solid white;
}

#socialLinks {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#socialLinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}

#socialLinks a:hover {
  background: rgba(255, 255, 255, 0.2);
}
